*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Commonly used styles styles */
.width{
    max-width: 1160px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}

.main-btn{
    border-radius: 12px ;
    width: 12.31rem;
    height: 3.12rem;
    font-size: 1.25rem;
    background-color: #FEA301;
    border: none;
    
}



/* Navbar styles */

.nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6.23%;
    align-items: center;
}

.nav-icon-box{
    gap: 11px;
    justify-content: flex-start;
}
.nav-school{
    font-size: 2rem;
    font-weight: bold;
}
.nav-section-titles ul li{
    list-style: none;
    font-weight: bold;
    font-size: 1.25em;
    
}
.nav-section-titles ul{
    gap: 2rem;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.nav-btn{
    text-align: right;
}
.nav-btn button{
    font-weight: 600;
    font-size: 1.25em;
    color: #FFFFFF;
}
/* .menu-hide{
    display: none;
} */
/* .menu-bar{
display: flex;
flex-direction: column;
gap: 2px;
}
.menu-bar div{
    height: 2px solid black;

} */



/* banner styles */
.banner-container{
    justify-content: space-between;
}
.banner-content{

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.banner-content h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
}
.banner-content p{
    font-size: 1.25rem;
}
.banner-content button{
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}











/* for small devices */
@media screen and (max-width:576px) {
    
    .navbar,.banner-section,{
        width: auto;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
    }
    .nav-container{
        margin: 12px 16px;
    }
    .nav-container{
         background-image: url(../assets/bars-solid.svg);
         background-repeat: no-repeat;
         background-position: right;
         background-size: 30px 30px;
    }

    /* .menu-hide{
        display: inline-block;
    } */



    /* banner */
    .banner-image img{
        width: 100%;
    }
    .nav-section-titles, .nav-school{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    .banner-container h1{
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }
    .banner-content p{
        text-align: center;
        font-size: 0.8rem;
        
    }
    .banner-content .mobile-br, .nav-btn button{
        display: none;
    }
    .banner-container{
        margin: 16px;
        padding:10.21px; 
    }

}