*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Quicksand Font */
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Railway font */

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Commonly used styles styles */
.width{
    max-width: 1160px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}

.main-btn{
    border-radius: 12px ;
    width: 12.31rem;
    height: 3.12rem;
    font-size: 1.25rem;
    background-color: #FEA301;
    border: none;
    
}
.mini-btn{
    background-color:#95B226 ;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    left: 38px;
    bottom: 19.5px;
    border: none;
    width: 10.87rem;
    height: 2.37rem;
    color: #FFFFFF;
    border-radius: 47.93px;
}
.footer-text-color{
    color: #FFFFFF;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
main{
    background: linear-gradient(to top, #FEA3014D -6%, #FFFFFF 28%);

}

/* Navbar styles */

.nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6.23%;
    margin: 20px auto;
    align-items: center;
}

.nav-icon-box{
    gap: 11px;
    justify-content: flex-start;
}
.nav-school{
    font-size: 2rem;
    font-weight: bold;
}
.nav-section-titles ul li{
    list-style: none;
    font-weight: bold;
    font-size: 1.25em;
    
}
.nav-section-titles ul{
    gap: 2rem;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.nav-btn{
    text-align: right;
}
.nav-btn button{
    font-weight: 600;
    font-size: 1.25em;
    color: #FFFFFF;
}




/* banner styles */
.banner-container{
    justify-content: space-between;
}
.banner-content{

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.banner-content h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
}
.banner-content p{
    font-size: 1.25rem;
}
.banner-content button{
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}



/* curriculam-section */
.curriculam-section{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    padding: 80px 0;
}

.curriculam-container{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 80px;
}
.curriculam-container h1{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.curriculam-boxes{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 28px;
}
.linear1{
background: linear-gradient(to bottom, #64C8FF66 -6%, #FFFFFF 28%);
}

.linear2{
    background: linear-gradient(to bottom, #FFF4DC -6%, #FFFFFF 28%);
}
.linear3{
    background: linear-gradient(to bottom, #EEE1FF -6%, #FFFFFF 28%);

    
}
.curriculam-box{
    flex-direction: column;
    gap: 33px;
    border-radius: 12.5px;
    box-shadow: 0 0 19.16px 0.64px #0000000D ;
}
.curriculam-box h3{
    font-size: 24.52px;
    font-weight: bold;
}
.curriculam-box p{
    font-size: 15.09px;
    font-weight: medium;
    text-align: center;
}
.curriculam-box span{
    font-weight: bold;
    font-size: 1rem;
    color: #64C8FF;
}
.curriculam-boxes .curriculam-box:nth-child(2) span{
    color: #F0AA00;
    font-weight: bold;
    font-size: 1rem;
}
.curriculam-boxes .curriculam-box:nth-child(3) span{
    color: #8700FF;
    font-weight: bold;
    font-size: 1rem;
}

.less-greater .less, .greater{

    background-color: #FEA301;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.less span, .greater span{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}



/* stories styles */
.stories-section{
    background: url(../assets/bg.png);
    padding:60px 0 ;
}
.stories-container{
    flex-direction: column;
    gap: 80px;
}
.stories-container h1{
    font-size: 2.87rem;
    font-weight: bold;

}
.big-box{
    border-radius: 16px;
}
.big-box img{
    border-radius: 16px 16px 0 0;
}
.big-box button{
    position: relative;
    font-size: 15.34px;
    font-weight: medium;
    background-color: #3CD8E8;
    border: none;
    border-radius: 47.93px;
    width: 177px;
    height: 47.93px;
    left: 38px;
    bottom: 25px;
}
.big-box h3{
     font-size: 1.5rem;
     font-weight: bold;
     margin-bottom: 47px;
     width: 463px;
}
.big-box p{
    margin-bottom: 34px;
    width: 27.03rem;
    font-size: 15.34px;
    font-weight: medium;
    line-height: 28.8px;
}
.small-boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 19px;
    
}
.small-box{
    display: flex;
    flex-direction: column;
    border-radius: 16px;

}
.small-box img{
    border-radius: 16px 16px 0 0;
}
.small-box-p{
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000000;
    text-align: left;
    width: 13.37rem;
    margin: 19px 0 0 0;
}
.stories-container>button{
    background-color: #000000;
    color: #FFFFFF;
}



/* footer section */
footer{
    background-color: #01ACFD;
    height: 519px;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-icon-title div{
    width: 300px;
    margin-bottom: 2rem;
}
.footer-icon-title div img{
    width: 80px;
    height: 80px;
}
.footer-icon-title h1{
    font-size: 2.63rem;
    font-weight: 700;
}
.footer-icon-title{
    flex-direction: column;
    gap: 2rem;
}
.footer-icon-title p{
    width: 400px;
    font-size: 1.25rem;
    
}
.footer-title-section{
    text-align: center;
}
.footer-title-section div{
    text-align: start;
    width: 157px;
    margin: 0 auto;
}   
.About-school{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.footer-title-section div ul{
    margin-top: 32px;
    
}
.footer-title-section div ul li{
    list-style: none;
    margin-bottom: 23px;
    color: #FFFFFF;
}
.footer-links{
text-align: center;
}
.footer-links h3{
    margin-bottom: 32px;
    font-size: 26px;
    font-weight: bold;
}















/* for small devices */
@media screen and (max-width:576px) {
    
    .navbar,.banner-section{
        width: auto;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
    }
    .nav-container{
        margin: 12px 16px;
    }
    .nav-container{
         background-image: url(../assets/bars-solid.svg);
         background-repeat: no-repeat;
         background-position: right;
         background-size: 30px 30px;
    }



    /* banner */
    .banner-image img{
        width: 100%;
    }
    .nav-section-titles, .nav-school, .big-box{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    .banner-container h1{
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }
    .banner-content p{
        text-align: center;
        font-size: 0.8rem;
        
    }
    .banner-content .mobile-br, .nav-btn button{
        display: none;
    }
    .banner-container{
        margin: 16px;
        padding:10.21px; 
    }



    /* curriculam section */
.curriculam-container{
    padding-top: 40px;
}
.curriculam-container h1{
    font-size: 1.62rem;
}
.curriculam-boxes {
    grid-template-columns: repeat(1,1fr);
    margin: 20px 16.5px;
    gap: 12.3px;
}
.curriculam-box{
    gap: 22px;
    padding: 32px 28px;
}
.less-greater{
    display: none;
}


/* stories */
.stories-container{
    padding: 40px 0;
    gap: 20px;
}
.small-boxes{
    width: 100%;
    grid-gap: 7.5px;
}
.small-box{
    width: 174px;
    /* padding: 20px 16px; */
    gap: 11px;
}
.small-box img{
    width: 100%;
}
.small-box button{
    font-size: 9.13px;
    height: 22px;
    top: -24px;
        left: 22px;
    }
.small-box-p{
    width: 127px;
    font-size: 9.13px;
    margin-top: -21px;
    line-height: 17.1px;
}
.mini-btn{
    position: relative;
    width: 103px;
}
.bg-c-2{
    background-color: #5D58F0;
} 
/* footer */
footer{
    height: auto;
    padding: 60px 0;
}
.footer-section{
    grid-template-columns: repeat(1,1fr);
}
.footer-icon-title{
    width: 100%;

}
.footer-icon-title div{
    width: 250px;
    margin-bottom: 22px;
}
.footer-icon-title div img{
    width: 69px;
    height: 69px;
}
.footer-icon-title div h1{
    font-size: 2rem;
    font-weight: 700;
}
.footer-icon-title p{
    width: 357px;
    font-size: 1rem;
}
.footer-title-section{
    text-align: start;
}
.About-school{
    font-size: 20px;
    font-weight: 600;
}
.footer-title-section div{
    margin: 32px 0;
}
.footer-title-section ul{
    margin-top: 27px;

}
.footer-links{
text-align: start;
}
.footer-links h3{
    font-size: 22px;
}
}